#main{
	position: relative;
	padding-left: 15px;
}
.box{
	float: left;
	padding-top:15px;
	padding-right: 15px;
}
.pic{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 5px #cc0;
}